<div class="row">
    <div class="col-md-2">
        <div class="list-group">

            <a href="#" class="list-group-item disabled">
                          Menu
                        </a>
            <a [routerLink]="[{outlets:{'menu':['Registration']}}]" routerLinkActive = "active" class="list-group-item">Registration</a>
            <a [routerLink]="[{outlets:{'menu':['contact']}}]" routerLinkActive="active" class="list-group-item">Contact Us</a>
        </div>
    </div>
    <div class="col-md-8">
        <router-outlet name='menu'></router-outlet>
    </div>
</div>