<table class="table">
  <thead>
    <tr>
      <th>Transaction ID</th>
      <th>First Name</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <a href="http://localhost:3002">AS21324</a> </td>
      <td>Doe</td>
      <td>8000</td>
    </tr>
    <tr>
      <td> <a href="http://localhost:3002">AS21334</a> </td>
      <td>dbf</td>
      <td>5000</td>
    </tr>
    <tr>
      <td> <a href="http://localhost:3002">AS23424</a> </td>
      <td>djhf</td>
      <td>9000</td>
    </tr>
  </tbody>
</table>